/* Tabs Container */
.tabsContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90px;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    z-index: 100;
    pointer-events: auto;

    /* PREVENT BLUE HIGHLIGHT ON DOUBLE CLICK */
    user-select: none;
    -webkit-user-select: none;

    /* WIDTH CONFIGURATION */
    --tab-scale-width: 2600px;
    --tab-offset-x: 0px;
}

/* Individual Tab */
.tab {
    position: absolute;
    top: 0;
    left: calc(50% + var(--tab-offset-x));
    transform: translateX(-50%);
    width: var(--tab-scale-width);
    min-width: 100vw;
    height: 90px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    pointer-events: auto;
}

/* Tab Stack Order */
.tab:nth-child(1) {
    z-index: 5;
}

.tab:nth-child(2) {
    z-index: 4;
}

.tab:nth-child(3) {
    z-index: 3;
}

.tab:nth-child(4) {
    z-index: 2;
}

.tab:nth-child(5) {
    z-index: 1;
}

/* Images */
.tabImage {
    width: 100%;
    height: 125%;
    object-fit: fill;
    display: block;
    pointer-events: auto;
}

/* Label Styling */
.tabLabel {
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 20;
    pointer-events: none;
}

/* Label Positioning */
.tab:nth-child(1) .tabLabel {
    left: calc(50% - 38vw);
}

.tab:nth-child(2) .tabLabel {
    left: calc(50% - 19vw);
}

.tab:nth-child(3) .tabLabel {
    left: 50%;
}

.tab:nth-child(4) .tabLabel {
    left: calc(50% + 19vw);
}

.tab:nth-child(5) .tabLabel {
    left: calc(50% + 38vw);
}


/* Interactions - HOVER ONLY FOR NON-ACTIVE */
.tab:not(.activeTab):hover {
    transform: translateX(-50%) translateY(-4px);
    filter: brightness(1.1);
}

/* Active State - STATIC */
.activeTab {
    filter: brightness(1.15);
    z-index: 10 !important;
    transform: translateX(-50%) !important;
    /* Force static position */
}


.activeTab .tabLabel {
    font-weight: 700;
}


@media (max-width: 1440px) {
    .tabsContainer {
        height: 80px;
        --tab-scale-width: 2800px;
    }

    .tab {
        height: 80px;
    }

    .tabLabel {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    .tabsContainer {
        height: 70px;
        --tab-scale-width: 3000px;
    }

    .tab {
        height: 70px;
    }

    .tabLabel {
        font-size: 12px;
    }

    .tab:nth-child(1) .tabLabel {
        left: calc(50% - 40vw);
    }

    .tab:nth-child(2) .tabLabel {
        left: calc(50% - 20vw);
    }

    .tab:nth-child(4) .tabLabel {
        left: calc(50% + 20vw);
    }

    .tab:nth-child(5) .tabLabel {
        left: calc(50% + 40vw);
    }
}

@media (max-width: 768px) {
    .tabsContainer {
        height: 60px;
        --tab-scale-width: 3200px;
    }

    .tab {
        height: 60px;
    }

    .tabLabel {
        font-size: 10px;
    }

    .tab:nth-child(1) .tabLabel {
        left: calc(50% - 42vw);
    }

    .tab:nth-child(2) .tabLabel {
        left: calc(50% - 21vw);
    }

    .tab:nth-child(4) .tabLabel {
        left: calc(50% + 21vw);
    }

    .tab:nth-child(5) .tabLabel {
        left: calc(50% + 42vw);
    }
}