.inspiredSection {
  background-color: #12363B;
  position: relative;
  background-image: url('/assets/brdr-radius.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  border-top-left-radius: 60px;
  margin-top: -60px;
  z-index: 9;
  border-top-right-radius: 60px;
}

.inspiredSectionBg {
  background: linear-gradient(135deg, #B8E986 0%, #93CD4D 100%);
  padding: 24px 40px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 14%;
  border-bottom-right-radius: 14%;

}

.container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

/* Top Section - Circle */
.topSection {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.circleContainer {
  background: #12363B;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1 / 1;
}

.circleContent {
  width: 50%;
  margin: auto;
}

.whoLabel {
  font-family: 'DM Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3AF1FF;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.whoTitle {
  font-family: Zalando Sans Expanded;
  font-size: 40px;
  font-weight: 400;
  line-height: 140%;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

/* Card */
.cardWrapper {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.cardsContainer {
  width: 70%;
  height: 400px;
  position: relative;
  /* Removed overflow: hidden to allow stack to be visible if needed, or keep it if contained */
  overflow: visible;
  display: block;
  /* Remove flex */
  margin: 0 auto;
  /* Center the container */
}

.card {
  width: 100%;
  /* Will match container width */
  height: 100%;
  background: transparent;
  position: absolute;
  /* Stack on top of each other */
  top: 0;
  left: 0;
  border-radius: 12px;
  transition: z-index 0s, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}



.cardImage {
   width: 500px;
  height: 500px;
  object-fit: contain;
  display: block;
  border-radius: 12px;
}

/* Slider Navigation Buttons */
.sliderPrevBtn,
.sliderNextBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  right: -80px;
}

.sliderPrevBtn {
  top: 30%;
}

.sliderNextBtn {
  bottom: 30%;
}

.sliderPrevBtn:hover,
.sliderNextBtn:hover {
  opacity: 0.7;
}

/* Slider Arrow Styles */
.whoSliderNext {
  display: block;
  transition: transform 0.3s ease;
  transform: rotate(180deg);

}

.whoSliderPrev {
  display: block;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  margin: 10px 0px;
}


/* Stats Section */
.statsSection {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 160px;
  padding-top: 155px;
  background-image: url('/assets/over-90.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  position: relative;
  background-size: auto;
}

.statLeft {
  flex: 1;
}

.bulbIcon {
  width: 60px;
  height: 80px;
  position: relative;
  margin-bottom: 20px;
}

.bulbTop {
  width: 50px;
  height: 50px;
  background: #FFEB3B;
  border-radius: 50% 50% 0 0;
  position: relative;
}

.bulbBase {
  width: 30px;
  height: 30px;
  background: #FFC107;
  margin: 0 auto;
}

.statText {
  font-family: Zalando Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -4%;
  margin-bottom: 40px;
  color: #12363B;
}

.statCitation {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Italic;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #12363B;
}

.statRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.descText {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Regular;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -4%;
  color: #12363B;
  margin-bottom: 30px;
}

.reportLink {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -4%;
  color: #12363B;
  text-decoration: none;
}

.reportLink:hover {
  color: rgba(18, 54, 59, 0.7);
}

/* Quote Section */
.quoteSection {
  background: linear-gradient(0deg, #031947 -39.61%, #07424E -6.94%, #033B30 100%);
  border-radius: 80px;
  padding: 160px;
  text-align: center;
  border-radius: 230px;
  position: relative;
  overflow: hidden;
}

.quoteSection::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("/assets/insights-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  width: 100%;
  height: 100%;
}

.quoteText {
  font-family: Zalando Sans Expanded;
  font-weight: 300;
  font-style: Light;
  font-size: 52px;
  line-height: 110%;
  letter-spacing: -3%;
  text-align: center;
  color: #fff;
}

.quoteText span {
  color: #ABE467;
}

.insCbContainerBg {
  position: relative;
}

.insCbContainer {
  width: 1260px;
  margin: auto;
  padding: 200px 15px;
  position: relative;
  z-index: 999;
}

.insCbContainerBg::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(/assets/inscbbtmbg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 0% 90%;
  background-size: auto;
  z-index: 1;
}

.insCbContainer h2 {
  font-family: Zalando Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: -4%;
  width: 50%;
  color: #fff;
  margin-bottom: 122px;
}





.insCbBtm {
  width: 50%;
  margin-left: 50%;
}

.insCbBtm h3 {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: -3%;
  margin-bottom: 16px;
  color: #fff;
}

.insCbBtm p {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -4%;
  margin-bottom: 16px;
  color: #fff;
}

.insCbBtm a {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -4%;
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 8px;
}


/* Responsive */
@media (max-width: 1024px) {

  .circleContainer {
    width: 500px;
    height: 500px;
  }

  .statsSection {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .inspiredSectionBg {
    padding: 20px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .quoteSection::after {
    background-image: url("/assets/mob-insights-bg.png");
  }

  .container {
    max-width: 100%;
    padding: 0 0px;
  }

  .circleContainer {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    padding: 30px 20px;
    min-height: 850px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }

  .circleContent {
    width: 80%;
    margin-top: 90px;
  }

  .whoLabel {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .whoTitle {
    font-size: 28px;
    margin-bottom: 0px;
    line-height: 110%;
  }

  .cardsContainer {
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }

  .card {
    width: 100%;
    max-width: 220px;
    left: 50%;
    margin-left: -110px;
  }


  .whoSliderNext,
  .whoSliderPrev {
    width: 30px;
    height: auto;
  }

  .sliderPrevBtn {
    top:  91%;
    right: 18% !important;
    height: 50px;
  }

  .sliderNextBtn {
    bottom: -4%;
    left: 18% !important;
    width: 50px;
  }

  .statsSection {
    flex-direction: column;
    gap: 40px;
    padding-top: 180px !important;
    margin-bottom: 80px;
    padding: 0 0px;
    background-size: 100%;
        background-position: 100% 11%;
  }

  .statText {
    font-size: 28px;
  }

  .descText {
    font-size: 18px;
  }

  .reportLink {
    font-size: 16px;
  }

  .quoteSection {
    padding: 30px;
    border-radius: 60px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    align-items: center;
    display: flex;
    min-height: 600px;
  }


  .quoteText {
    font-size: 28px;
  }

  .insCbContainer {
    width: 100%;
    max-width: 100%;
    padding: 100px 20px;
  }

  .insCbContainer h2 {
    font-size: 24px;
    width: 100%;
    margin-bottom: 60px;
  }

  .insCbBtm {
    width: 100%;
    margin-left: 0;
  }

  .insCbBtm h3 {
    font-size: 22px;
  }

  .insCbBtm p {
    font-size: 16px;
  }

  .insCbBtm a {
    font-size: 16px;
  }

  .insCbContainerBg::before {
    display: none;
  }

  .insCbContainer .m-d-block {
    width: 100%;
  }

  .insCbContainer .m-d-block {
    margin-bottom: 100px;
  }

  .insCbBtm h3 {
    margin-top: 80px;
    font-size: 28px;
    margin-bottom: 12px;
  }

  .insCbBtm p {
    font-size: 18px;
    margin-bottom: 28px;
  }

  .ins-cb-btm a {
    font-size: 18px;
  }
  .cardImage {
    width: 100%;
    height: 100%;
  }
}